@model WorkAndTravel.Web.ViewModels.WorkPosts.WorkPostsListViewModel
@{
    this.ViewData["Title"] = "All workposts page" + Model.PageNumber;
}

<h1>@this.ViewData["Title"]</h1>
<hr />
<div class="row">
    @foreach(var post in this.Model.WorkPosts)
    {
        <div class="card-deck card-columns media col-md-3">
            <div class="card">
                <img src="@post.RemoteImageUrl" class="card-img-top" >
                <div class="card-body">
                    <h5 class="card-title">@post.Title</h5>
                    <p class="card-text">@post.Description</p>
                    <p class="card-text"><small class="text-muted">@post.CategoryName</small></p>
                </div>
            </div>
        </div>
    }
</div>
<hr />
<partial name="_PagingPartial" model="@Model"/>
