@model WorkAndTravel.Web.ViewModels.WorkPosts.WorkPostsListViewModel
@{
    this.ViewData["Title"] = "Workposts page";
}

<div class="dropdown text-md-left text-center float-right">
    <button class="btn btn-lg btn-outline-dark mt-2 dropbtn">Sort by: <i class="fas fa-sort-down fa-lg"></i></button>
    <div class="dropdown-content">
        <a asp-controller="WorkPost" asp-action="SortByName" class="dropdown-item">Title Ascending</a>
        <a asp-controller="WorkPost" asp-action="SortByDate" class="dropdown-item">Lastly added</a>
        <a asp-controller="WorkPost" asp-action="SortBySalary" class="dropdown-item">Payment</a>
    </div>
</div>
<h1 class="text-primary">@this.ViewData["Title"]</h1>

<hr />
<div class="container">
    <div class="row">
        @foreach (var post in this.Model.WorkPosts)
        {
            var title = post.Title.Substring(0, 14);
            <div class="col-md-3 mb-4">
                <div class="card">
                    <img src="@post.RemoteImageUrl" style="height:300px; width:246px;" class="card-img-top img-fluid">
                    <div class="card-body">
                        <h5 class="card-title"><a asp-action="ById" asp-route-id="@post.Id">@title</a></h5>
                        <p class="card-text ">@post.Description.Substring(0, 35) ...</p>
                        <p class="card-text"><small class="text-muted">@post.CategoryName</small></p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<hr />
<partial name="_PagingPartial" model="@Model" />
